.nav-ico{background-image:url(../images/icons/win/website.png) !important;}
.info-icon{background-image:url(../images/icons/win/info.png) !important;}
.start-logout-ico{background-image:url(../images/icons/win/s.png) !important;}

.start-ico{background-image:url(../images/icons/win/win_start.png) !important;}
.Module-mgr-ico{background-image:url(../images/icons/model-ico.png) !important;}
.sys-mgr-ico{ background-image:url(../images/icons/win/page_advanced.png)!important; }
.tab-home-ico{background-image:url(../images/icons/home.png) !important;}

.add-icon{background-image:url(../images/icons/dojo/page_add.png) !important;}
.update-icon{background-image:url(../images/icons/dojo/page_edit.png) !important;}
.remove-icon{background-image:url(../images/icons/dojo/page_delete.png) !important;}
.refresh-icon{background-image:url(../images/icons/dojo/arrow_refresh.png) !important;}
.reload-icon{background-image:url(../images/icons/reload.png) !important;}
.print-icon{background-image:url(../images/icons/printer.png) !important;}
.help-ico{background-image:url(../images/icons/dojo/help.png) !important;}

.user-grid{background-image:url(../images/icons/dojo/folder_user.png) !important;}
.user-add{background-image:url(../images/icons/dojo/group_add.png) !important;}
.user-edit{background-image:url(../images/icons/dojo/group_edit.png) !important;}
.user-delete{background-image:url(../images/icons/dojo/group_delete.png) !important;}

.image-grid{background-image:url(../images/icons/dojo/images.png) !important;}
.image-add{background-image:url(../images/icons/dojo/image_add.png) !important;}
.image-edit{background-image:url(../images/icons/dojo/image_edit.png) !important;}
.image-delete{background-image:url(../images/icons/dojo/image_delete.png) !important;}

.delete-ico{background-image:url(../images/icons/delete.gif) !important;}

.user-ico{background-image:url(../images/icons/im32x32.gif) !important;}
.search-trigger {background-image: url(../images/icons/search_2.gif) !important;}
.gt-icon{background-image:url(../images/icons/dojo/resultset_next.png) !important;}
.lt-icon{background-image:url(../images/icons/dojo/resultset_previous.png) !important;}

.gt-max-icon{background-image:url(../images/icons/dojo/resultset_last.png) !important;}
.lt-max-icon{background-image:url(../images/icons/dojo/resultset_first.png) !important;}